body {
  font-family: "Montserrat", sans-serif;
  font-family: "Quicksand", sans-serif;
  background-color: #ffffff;
  color: black;
}

header {
  height: 3vh;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  padding: 2vh;
  box-shadow: 6px 6px 20px rgb(0, 0, 0, 0.1);
  z-index: 1;
}

.dark-mode{
  background-color: rgb(76, 74, 74);
  color: white;
}

#icon.dark-mode{
  color: white;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 250, "GRAD" -25, "opsz" 48;
}

.types {
  margin: 0 2vw 0 2vw;
}

#icon {
  position: fixed;
  left: 3vw;
  text-decoration: none;
  color: black;
}

#icon:hover {
  color: rgb(218, 150, 25);
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" -25, "opsz" 60;
  transition-duration: 0.2s;
}

.extra.fa.fa-instagram:hover {
  font-size: larger;
  transition-duration: 0.2s;
}

.extra {
  font-family: "Montserrat", sans-serif;
  font-family: "Quicksand", sans-serif;
  padding-left: 0.5vw;
}

.types:hover {
  background: radial-gradient(circle closest-side, #fff 97%, rgb(222, 139, 75)),
    radial-gradient(
      circle closest-side,
      rgb(207, 124, 47) 97%,
      rgba(195, 118, 59, 0)
    );
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  background-size: 230% 100%;
  background-position: right;
  background-repeat: no-repeat;
  transition: 1s ease-out;
}

#links {
  text-decoration: none;
  color: black;
}

footer {
  height: 3vh;
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2vh;
  box-shadow: 6px 6px 20px rgb(0, 0, 0, 0.1);
}

main {
  display: flex;
  flex-direction: row;
  margin-top: 7vh;
  width: 100vw;
  height: 100%;
}

aside {
  width: 25vw;
  opacity: 0.4;
}

.left-aside {
  background: url("../photos/animacja1.png") no-repeat 70% 5%,
    url("../photos/animacja5.png") no-repeat 40% 28%,
    url("../photos/animacja7.png") no-repeat 30% 54%,
    url("../photos/animacja6.png") no-repeat 30% 80%;
  background-size: 16vh;
}

.right-aside {
  background: url("../photos/animacja9.png") no-repeat 29% 0%,
    url("../photos/animacja3.png") no-repeat 50% 23%,
    url("../photos/animacja2.png") no-repeat 25% 41%,
    url("../photos/animacja8.png") no-repeat 50% 63%,
    url("../photos/animacja10.png") no-repeat 15% 90%;
  background-size: 18vh;
}

.feed {
  width: 50vw;
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  margin-left: 0vw;
  margin-bottom: 10vh;
}

hr {
  width: 50vw;
  size: 1;
  margin: 2vh 0 2vh 0;
}

.pizza {
  width: 60vw;
  display: flex;
  flex-direction: row;
}

.pizza:hover {
  transform: scale(1.06);
  padding-left: 2vw;
  transition-duration: 0.3s;
}

img {
  width: 15vw;
  height: 15vw;
  object-fit: cover;
  border-radius: 15px;
}

.img-separate {
  width: 25vw;
  height: 25vw;
  object-fit: cover;
  border-radius: 15px;
  opacity: 0.8;
  display: flex;
  flex-direction: row;
}

.post-description {
  margin-left: 7vw;
}
