body {
  font-family: "Montserrat", sans-serif;
  font-family: "Quicksand", sans-serif;
}

.wrapper {
  display: flex;
  width: 800px;
  justify-content: center;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 6px 6px 20px rgb(0, 0, 0, 0.1);
}

aside {
  height: 25px;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  padding: 2vh;
  background-color: #ffffff;
  box-shadow: 6px 6px 20px rgb(0, 0, 0, 0.1);
}

main {
  margin-top: 50px;
}

.pizza {
  grid-template-columns: 1fr 2fr;
  display: grid;
  margin: 20px 20px 20px 20px;
}

.opis-pizzy {
  margin-left: 20px;
}

.photo {
  width: 200px;
}
